body {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-color:steelblue;
	color:silver;
}

.mainBody{
	margin-bottom: 2rem;
}

#indexCar{
	height:30%;
	width:30%;

	min-height:212px;
	min-width:316px;
	margin-bottom:2.5em;
}

#vidID a{
	color:cyan;
}